.element-container {
    cursor: pointer;
    max-width: 4.5rem;
    max-height: 4.5rem;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .element-container:hover {
    border: 3px solid #ffc107 !important;
  }
  
  .element-container svg {
    width: 35px;
    height: 35px;
    color: white;
    padding: 10px;
  }
  
  .element-container p {
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin: 5px;
    padding: 4px;
  }
  
  .element-container a {
    text-decoration: none;
  }
  