.element-container {
    background-color: rgb(21, 7, 34);
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    border: 2px solid rgba(253, 186, 0, 0.871);
    justify-content: center;
    align-items: center;
    /* box-shadow: 1px 1px 4px 1px rgba(255, 255, 255, 0.704); */
    cursor: pointer;
    max-height: 65px;
    max-width: 65px;
    white-space: nowrap;
    overflow: hidden;
    /* text-overflow: ellipsis; */
}

.element-container:hover {
    border: 2px solid rgb(140, 0, 255);
}


.element-container svg {
    width: 35px;
    height: 35px;
    color: white;
    padding: 10px;
}

.element-container p {
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin: 5px;
    padding: 4px;
}