.chat-header {
  background-color: rgba(253, 190, 17, 0.637);
  padding: 5px 25px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: inset 0 0 8px rgb(21, 7, 34);
}

.chat-header div span {
  color: rgb(255, 255, 255);
  font-weight: 700;
}

.chat-header-buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.chat-header-button {
  margin: 5px;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: rgb(117, 25, 192);
  box-shadow: inset 0 0 10px rgb(21, 7, 34);
  color: white;
  width: 100px;
}

.chat-header-button svg {
  font-size: 25px;
}

.leave-chat:hover {
  background-color: rgba(255, 0, 0, 0.649);
  color: white;
}

.chat-header-button svg {
  transition: transform 0.3s ease;
}

.chat-header-button:hover svg {
  transform: scale(1.36);
}

.video-btn-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2px;
}

.video-btn-wrapper span{
 margin: 0px 10px;
}