.chat-header {
  box-shadow: inset 0 0 11px rgb(0, 0, 0);
}


.chat-header-buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.chat-header-button {
  margin: 5px;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color:rgb(0, 89, 255);
  color: white;
  width: 100px;
}

.chat-header-button svg {
  font-size: 25px;
}

.leave-chat:hover {
  background-color: rgba(255, 0, 0, 0.65);
  color: white;
}

.chat-header-button svg {
  transition: transform 0.3s ease;
}

.chat-header-button:hover svg {
  transform: scale(1.36);
}

.video-btn-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2px;
}

.video-btn-wrapper span{
 margin: 0px 10px;
}