.status-dropdown-button .btn-secondary {
    background-color: rgba(31, 4, 65, 0.856);
    border-color: black;
}

.status-dropdown-button{
flex: 1;
display: flex;
align-items: center;
justify-content: center;
}

.status-dropdown-button .btn-secondary svg {
    margin-right: 0.5rem;
}

.dropdown-item svg {
    margin-right: 0.5rem;
}

.dropdown-item {
    display: flex;
    align-items: center;
}