.create-team{
}

.create-team-button,
.search-button-create-team,
.add-button-new-team {
    padding: 2px;
    border-radius: 5px;
    border: none;
    background-color: rgba(57, 9, 121, 0.856);
    color: white;
    margin: 2px;
    width: 50%;
    cursor: pointer;
    margin-left: 15px;
}

.create-team-button:hover,
.search-button-create-team:hover,
.add-button-new-team:hover {
    background-color: rgb(140, 0, 255);
    box-shadow: 1px 1px 15px 1px rgba(85, 80, 80, 0.367);
    color: white;
}