.create-team{
}

.create-team-button,
.search-button-create-team,
.add-button-new-team {
    margin-top: 10px;
    padding: 2px;
    border-radius: 5px;
    border: none;
    background-color: rgba(57, 9, 121, 0.856);
    color: white;
    width: 50%;
    cursor: pointer;
}

.create-team-button:hover,
.search-button-create-team:hover,
.add-button-new-team:hover {
    background-color: rgb(140, 0, 255);
    box-shadow: 1px 1px 15px 1px rgba(85, 80, 80, 0.367);
    color: white;
}

.form-control-create-team{
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    width: 70%;
    border: 1px solid #ccc;
}

.create-team-name-input{
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    width: 70%;
    border: 1px solid #ccc;
}