
.forgot-wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: baseline;
    justify-content: center;
    padding-top: 35px;
}

.forgot-psw {
    margin-top: 2rem;
    width: 30rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    background-color: rgba(0, 27, 53, 0.61);
    color:white;
    padding: 45px
}

