.creat-team-modal, .overlay-create-team {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay-create-team {
    background-color: rgb(49, 49, 49, 0.8);
}

.modal-create-team-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: white;
    color: black;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}

.close-modal-create-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}