.element-container {
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid rgba(253, 186, 0, 0.871);
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 5px 1px rgba(255, 255, 255, 0.704);
    cursor: pointer;
    height: 70px;
    width: 70px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.element-container:hover {
    border: 2px solid rgb(140, 0, 255);
}


.element-container svg {
    font-size: 30px;
    color: white;
    padding: 0px 5px;
}

.element-container p {
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin: 5px;
}