.chats-contents {
    width: 75%;
    height: 85vh;
    background-color: rgba(192, 141, 141, 0.248);
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.chat-messages {
    height: 80vh;
    overflow: auto;
}

.chat-message-input {
    outline: none;
    width: 90%;
    margin: 10px;
    border: none;
    border-radius: 10px;
    height: 40px;
}