.chats-contents {
    width: 75%;
    height: 90vh;
    /* background-color: rgba(253, 186, 0, 0.788); */
    background-color: black;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.chat-messages {
    height: 80vh;
    overflow: auto;
}

.no-chat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    text-align: center;
    align-items: center;
}

.no-chat svg {
    color: white;
    height: 30%;
    width: 50%;
}

.no-chat h1 {
    margin: 20px;
    color: rgba(2, 214, 246, 0.532);
}