.incoming-call {
    padding: 25px;
    width: 25%;
    position: absolute;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    position: absolute;
    top: 10%;
    right: 20%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    margin-top: 20px;
}

.incoming-call div {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.incoming-call div p {
    font-size: larger;
    margin: 10px;
    color: black;
}

.cancel-video {
    padding: 12.5px;
    background-color: rgb(153, 113, 39);
}