.chat-main {
    display: flex;
    border-radius: 10px;
    border: 3px solid white;
}

.chats-custom {
    width: 25%;
    height: 90vh;
    /* background-color:rgba(253, 186, 0, 0.788); */
    background-color: black;
    border-right: 3px solid rgb(255, 255, 255);
    overflow: auto;
}

.chats-custom a {
    text-decoration: none;
    font-weight: bolder;
}

.chats-custom a p {
    width: 90%;
    border: 2px solid gray;
    border-radius: 5px;
    margin: 10px;
}