.chat-main {
    display: flex;
    flex-direction: row;
}

.chat-side {
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
    justify-content: center;
}

.chat-content {
    width: 75%;
    align-items: center;
    justify-content: center;
}