.modal-team-members-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: white;
    color: black;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
  }
  
  .user-modal {
    position: absolute;
    top: 100%;
    right: 0;
    width: 350px;
    height: 600px;
    z-index: 1000;
  }
  
  .custom-shadow {
    box-shadow: 0px 2px 4px rgba(255, 255, 255, 0.758);
  }
  