.channel-bar {
    height: 100%;
    background-color: rgb(19, 4, 34);  

}

.channels-single-preview {
    border-radius: 10px;
    border: 1px solid rgba(253, 186, 0, 0.788);
    margin: 15px;
    padding: 6px;
    display: flex;
    justify-content: left;
    align-items: center;
    box-shadow: 1px 1px 5px 1px rgba(255, 255, 255, 0.704);
    overflow: hidden;
    white-space: nowrap;
    background-color: rgba(0, 0, 0, 0.524);
    text-overflow: ellipsis;
}

.channels-single-preview:hover {
    box-shadow: 1px 1px 15px 1px rgb(140, 0, 255);
    border: 1px solid rgb(140, 0, 255);
}

.active {
    background-color:  rgb(117, 25, 192); 
  }

  .create-chan-btn {
    background-color:  rgb(117, 25, 192);
    border: none;
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
    transition: border 0.3s ease; /* Add this line to animate the border change */
}

.create-chan-btn:hover {
    border: 1px solid rgba(253, 186, 0, 0.788);


.new-message-dot {
    height: 10px;
    width: 10px;
    background-color: #ff0000;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
}