.chan-chat-container {
    background-color: rgb(17, 3, 31);
    max-width: 95rem; 
    width: 100%;
    height: 100%;     
}

.channel-chat-emoji-picker .emoji-picker {
    position: absolute;
    top: 50px;
    right: 0;  
  }

  .messages-container {
    max-height:75vh;
    overflow-y: auto;
    overflow-x: hidden; 
  }
