.edit-message {
    width: 95%;
    background-color: rgba(253, 253, 253, 0.524);
    text-align: center;
}

.edit-message-file img {
    padding: 15px;
    margin: 0px 35px;
}

.edit-chat-message {
    width: 89%;
    background-color: rgba(253, 253, 253, 0.524);
    padding: 20px;
    margin: 2px 40px;
    border: 1px solid black;
    border-radius: 10px 10px 10px 10px;
    resize: none;
    overflow: hidden;
}

.my-message {
    width: 90%;
    background-color:rgba(253, 253, 253, 0.524);
    border: 3px solid rgb(117, 25, 192);
    padding: 20px;
    margin: 2px 40px;
    border-radius: 0px 10px 10px 10px;
    word-wrap: break-word;
    position: relative;
}

.uploaded-message-img {
    width: 390px;
    height: auto;
    margin: 10px 0px;
}

.delete-message-modal {
    justify-content: center;
    text-align: center;
}

.delete-message-modal h4 {
    padding: 10px;
}

.delete-message-modal button {
    width: 75px;
    margin: 10px;
    padding: 10px;
}

.edit-message-file {
    align-items: center;
    position: relative;
    width: fit-content;
    height: fit-content;
}

.edit-remove-file-button {
    color: rgb(245, 9, 9);
    font-size: 21px;
    position: absolute;
    top: 7px;
    right: 35px;
    cursor: pointer;
}

.edit-delete-buttons {
    position: absolute;
    bottom: 1px;
    right: 5px;
    border-radius: 10px;
    padding: 5px;
}

.edit-delete-buttons svg {
    font-size: 25px;
    margin: 5px;
    cursor: pointer;
}

.message-edit-btn {
    color: rgba(152, 152, 155, 0.88);
}

.message-delete-btn {
    color: rgba(255, 0, 0, 0.397);
}

.message-edit-btn:hover {
    color: white;
}

.message-delete-btn:hover {
    color: rgba(255, 0, 0, 0.781);
}