.edit-message {
    width: 95%;
    background-color: rgba(255, 255, 255, 0.519);
    text-align: center;
}

.edit-message-file img {
    padding: 15px;
    margin: 0px 35px;
}

.edit-chat-message {
    width: 89%;
    background-color: rgba(151, 234, 234, 0.519);
    padding: 20px;
    margin: 2px 40px;
    border: 1px solid black;
    border-radius: 10px 10px 10px 10px;
    resize: none;
    overflow: hidden;
}

.my-message {
    width: 90%;
    background-color: rgba(151, 234, 234, 0.519);
    padding: 20px;
    margin: 2px 40px;
    border-radius: 0px 10px 10px 10px;
    word-wrap: break-word;
}

.uploaded-message-img {
    width: 390px;
    height: auto;
    margin: 10px 0px;
}

.delete-message-modal {
    justify-content: center;
    text-align: center;
}

.delete-message-modal h4 {
    padding: 10px;
}

.delete-message-modal button {
    width: 75px;
    margin: 10px;
    padding: 10px;
}

.edit-message-file {
    align-items: center;
    position: relative;
    width: fit-content;
    height: fit-content;
}

.edit-remove-file-button {
    color: rgb(245, 9, 9);
    font-size: 21px;
    position: absolute;
    top: 7px;
    right: 35px;
    cursor: pointer;
}