.edit-chat-message {
    width: 89%;
    background-color: rgba(151, 234, 234, 0.519);
    padding: 20px;
    margin: 2px 40px;
    border: 1px solid black;
    border-radius: 10px 10px 10px 10px;
    resize: none;
    overflow: hidden;
}

.my-message {
    width: 90%;
    background-color: rgba(151, 234, 234, 0.519);
    padding: 20px;
    margin: 2px 40px;
    border-radius: 0px 10px 10px 10px;
    word-wrap: break-word;
}