body{
  height: 100%;
  /* background-image: url(https://img.freepik.com/free-photo/vintage-grunge-blue-concrete-texture-studio-wall-background-with-vignette_1258-28513.jpg?w=996&t=st=1708515043~exp=1708515643~hmac=3b21b113c7145e08f00c5b9919c9cef99a118d81e5de520fac93c85f2388f676); */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}