.custom-simple-img {
    width: 45px;
    height: 45px;
    margin: 5px;
    color: white;
}

.simple-profile-view span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bolder;
}