.simple-profile-view {
    background-color: rgba(202, 223, 241, 0.53);
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    justify-content: center;
    text-align: left;
}

.custom-simple-img {
    width: 45px;
    height: 45px;
    margin: 5px;
}