.chat-message-input {
    outline: none;
    width: 90%;
    margin: 10px;
    border: none;
    height: 50px;
    padding: 5px;
    background-color: transparent;
    resize: none;
  }
  
  .emoji-picker {
    position: absolute;
    top: -450px;
    right: 0;
  }
  
  .emoji-button {
    color: grey;
    font-size: 30px;
    cursor: pointer;
  }
  
  .emoji-button:hover {
    color: #ffc107;
  }
  
  