.input-div {
    position: relative;
    padding: 1px;
    margin: 5px;
}

.chat-message-input {
    outline: none;
    width: 90%;
    margin: 10px;
    border: none;
    border-radius: 10px;
    height: 40px;
}


.emoji-picker {
    position: absolute;
    top: -450px;
    right: 0;
}

.emoji-button {
    position: absolute;
    right: 90px;
    bottom: 55px;
}

.chat-file-label {
    color: rgb(10, 0, 0);
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
    width: 335px;
    height: 40px;
    background-color: rgb(245, 238, 238);
}

.chat-file-label:hover {
    background-color: rgba(5, 27, 27, 0.504);
    box-shadow: 1px 1px 13px 1px white;
}