.chats-single-preview {
    border-radius: 10px;
    /* border: 1px solid rgba(253, 186, 0, 0.788); */
    margin: 10px 5px;
    display: flex;
    box-shadow: 2px 1px 5px 1px rgba(255, 255, 255, 0.704);
    overflow: hidden;
    white-space: nowrap;
    background-color: rgb(21, 7, 34);
    text-overflow: ellipsis;
}

.chats-single-preview:hover {
    box-shadow: 2px 1px 5px 1px rgba(253, 186, 0, 0.888);
    border: 1px solid rgba(253, 186, 0, 0.7);
}

/*Images styling*/
.single-preview-group {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 5px;
    border: 1px solid white;
    color: white;
    margin: 5px;
}

.single-preview-user {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: 1px solid white;
    color: white;
    margin: 5px;
}

.single-img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    color: white;
    margin: 5px;
}

.single-preview-content {
    text-align: left;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 265px;
}

.user-chats {
    height: 26px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    margin: 3px;
    padding: 2px 7px;
}

.active-chat-preview {
    background-color: rgb(117, 25, 192);
    border: 1px solid rgba(253, 186, 0, 0.7);
}

.new-message {
    background-color: rgb(21, 7, 34);
}

.active-chat-preview.new-message {
    background-color: rgb(117, 25, 192);

}

.status-icon-chats {
    position: relative;
    top: 45px;
    right: 17px;
}