.profile-preview {
    margin: 5px 5px 0 5px;
    padding: 50px;
    background-color: rgb(21, 7, 34);
    text-align: center;
    box-shadow: 1px 1px 10px 4px rgba(74, 72, 72, 0.447);
    max-width: 21rem;
    height: 40rem;
    border-radius: 10px;
    box-shadow: inset 0 0 15px rgba(253, 186, 0, 0.888);

}

.profile-avatar {
    margin-top: 25px;
    margin-bottom: 15px;
    width: 13rem;
    height: 13rem;
    border: 1px solid white;
    border-radius: 50%;
}

input[type="file"] {
    display: none;
}

.photo-upload-label {
    color: white;
    text-align: center;
    padding: 10px 22px;
    font-size: 18px;
    letter-spacing: 1.2px;
    cursor: pointer;
    background-color: rgba(158, 163, 163, 0.335);
    margin-bottom: 15px;
    border-radius: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 10rem;
}

.photo-upload-label:hover {
    background-color: rgba(154, 41, 182, 0.507);
    box-shadow: 1px 1px 13px 1px white;
}

.photo-upload-button {
    color: white;
    text-align: center;
    padding: 5px 10px;
    font-size: 18px;
    letter-spacing: 1.2px;
    cursor: pointer;
    background-color: rgba(121, 57, 182, 0.671);
    border-radius: 15px;
    justify-content: center;
    text-align: center;
    border: none;
    margin-bottom: 5px;
}

.photo-upload-button:hover {
    box-shadow: 1px 1px 13px 1px rgb(206, 182, 75);
}

.photo-upload-button svg {
    font-size: 43px;
    margin: 5px;
}

.profile-avatar-icon {
    color: rgba(29, 8, 63, 0.753);
    margin-top: 25px;
    margin-bottom: 15px;
    width: 13rem;
    height: 13rem;
    border: 1px solid white;
    border-radius: 50%;
}

.user-profile-name {
    color: white;
}

.remove-profile-photo {
    color: rgb(245, 9, 9);
    font-size: 21px;
    position: absolute;
    cursor: pointer;
}