.profile-avatar {
    width: 13rem;
    height: 13rem;
    border: 1px solid white;
    border-radius: 50%;
  }
  
  input[type='file'] {
    display: none;
  }
  
  .photo-upload-button svg {
    font-size: 43px;
    margin: 5px;
  }
  
  .profile-avatar-icon {
    color: rgb(150, 153, 158);
    width: 13rem;
    height: 13rem;
    border: 1px solid white;
    border-radius: 50%;
  }
  
  .remove-profile-photo {
    color: rgb(245, 9, 9);
    font-size: 21px;
    left: 224px;
    top: 293px;
    position: absolute;
    cursor: pointer;
  }
  