.modal-body {
    align-items: center;
    text-align: center;
}

.create-chat-room {
    background-color: rgb(117, 25, 192);
    color: white;
    width: 24%;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    margin: 5px;
}

.create-chat-room svg {
    font-size: 20px;
}

.create-chat-room:hover {
    box-shadow: 1px 1px 15px 1px rgba(255, 255, 255, 0.842);
    margin: 5px;
}

.create-chat-users form input {
    border: none;
    outline: none;
    width: 48%;
    box-shadow: 1px 1px 15px 1px rgba(85, 80, 80, 0.367);
    border-radius: 10px;
    padding: 10px;
    margin: 20px 5px;
}

.create-chat-content {
    display: flex;
    flex-direction: row;
}

.search-users-results,
.create-chat-added {
    display: flex;
    flex-direction: column;
    overflow: auto;
    border-radius: 10px;
    height: 40vh;
    padding: 15px;
    width: 50%;
    background-color: black;
    margin: 5px;
}

.single-search,
.single-added {
    display: flex;
    flex-direction: row;
    margin: 5px;
    justify-content: left;
    align-items: center;
}

.create-chat-button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: rgba(57, 9, 121, 0.856);
    color: white;
    margin: 10px;
    width: 50%;
    cursor: pointer;
}

.create-chat-button:hover {
    background-color: rgb(140, 0, 255);
    box-shadow: 1px 1px 15px 1px rgba(85, 80, 80, 0.367);
    color: white;
}

.add-icon,
.remove-icon {
    margin: 10px;
    font-size: 17px;
}