.create-chat-room {
    background-color: rgba(58, 47, 58, 0.381);
    color: white;
    width: 25%;
    padding: 10px;
    border-radius: 10px;
    outline: none;
}

.create-chat-users form input {
    border: none;
    outline: none;
    box-shadow: 1px 1px 15px 1px rgba(85, 80, 80, 0.367);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.create-chat-button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: rgba(101, 147, 226, 0.423);
    box-shadow: 1px 1px 15px 1px rgba(85, 80, 80, 0.367);
    margin: 10px;
}

.create-chat-added {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(161, 248, 248, 0.499);
    border-radius: 10px;
}
