.transparent-container {
  background-color: rgba(127, 127, 127, 0.75) !important;
}

.background-wrapper {
  background-image: url('/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
