.update-account {
    width: 30rem;
    height: 50rem;
    border-radius: 10px;
    background-color: rgba(253, 186, 0, 0.788);
    color: black;
    padding: 3.5rem;
    padding-top: 3rem;
}


.heading {
    color: (57, 9, 121, 0.856);
    background-color: rgba(255, 255, 255, 0.267);
    text-align: center;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 1px 1px 15px 1px rgb(117, 25, 192);
    text-shadow: none;
    margin: 1rem;
}

input[type="text"]:disabled {
    background: #b0aeae37;
    color: white;
    outline: none;
    border: none;
  }

  .hr-line{
    border-top: 3px solid white;
  }